<!--Slider Block-->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-sm-6">
  <img class="d-block w-100 sliderImage" src="../assets/sliderImage.png" alt="Second slide">
          </div>
          <div class="col-sm-6 tableSec">
            <div class="eiSliderHead">
              <h1 >Ei Maths Study</h1>
            <p class="carousalPa">Helps students progress with confidence and understanding</p>
            <button class="btnContact">Learn More</button>
  
            </div>
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-sm-6">
  <img class="d-block w-100 sliderImage" src="../assets/sliderImage.png" alt="Second slide">
          </div>
          <div class="col-sm-6 tableSec">
            <div class="eiSliderHead">
              <h1 >Ei Maths Study</h1>
            <p class="carousalPa">Helps students progress with confidence and understanding</p>
            <button class="btnContact">Learn More</button>
  
            </div>
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-sm-6">
  <img class="d-block w-100 sliderImage" src="../assets/sliderImage.png" alt="Second slide">
          </div>
          <div class="col-sm-6 tableSec">
            <div class="eiSliderHead">
              <h1 >Ei Maths Study</h1>
            <p class="carousalPa">Helps students progress with confidence and understanding</p>
            <button class="btnContact">Learn More</button>
  
            </div>
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-sm-6">
  <img class="d-block w-100 sliderImage" src="../assets/sliderImage.png" alt="Second slide">
          </div>
          <div class="col-sm-6 tableSec">
            <div class="eiSliderHead">
              <h1 >Ei Maths Study</h1>
            <p class="carousalPa">Helps students progress with confidence and understanding</p>
            <button class="btnContact">Learn More</button>
  
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<br><br>
<div class="tr-job-posted section-padding">
    <br><br>
<h1 class="partHead">Our Partners</h1>
    <div class="container">
		<div class="job-tab text-center">
			<ul class="nav nav-tabs justify-content-center" role="tablist">
				<li role="presentation" class="active">
					<a class="active show" href="#hot-jobs" aria-controls="hot-jobs" role="tab" data-toggle="tab" aria-selected="true">School</a>
				</li>
				<li role="presentation"><a href="#recent-jobs" aria-controls="recent-jobs" role="tab" data-toggle="tab" class="" aria-selected="false">Government</a></li>
				<li role="presentation"><a href="#popular-jobs" aria-controls="popular-jobs" role="tab" data-toggle="tab" class="" aria-selected="false">International</a></li>
			</ul>
			<div class="tab-content text-left">
				<div role="tabpanel" class="tab-pane fade active show" id="hot-jobs">
					<div class="row">
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
                        <div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
					</div><!-- /.row -->
				</div><!-- /.tab-pane -->
				<div role="tabpanel" class="tab-pane fade in" id="recent-jobs">
					<div class="row">
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
                        <div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
					</div><!-- /.row -->
				</div><!-- /.tab-pane -->
				<div role="tabpanel" class="tab-pane fade in" id="popular-jobs">
					<div class="row">
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
                        <div class="col-md-6 col-lg-3 text-center">
							<div class="job-item text-center">
								
								<div class="job-info text-center">
									<img class="grayscale" src="../assets/tabs/school12.jpeg"	>	
                                    <div class="text-center">Euro School</div>																
								</div>
							</div>
						</div>
					</div><!-- /.row -->
				</div><!-- /.tab-pane -->
			</div>				
		</div><!-- /.job-tab -->			
	</div><!-- /.container -->
</div>