<br>
<footer class="footerMain">
   <section>
     <br>
   </section>
   <section class="">
      <div class="container text-center text-md-start mt-5">
         <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
               <h6 class="text-uppercase fw-bold">Educational Initiatives</h6>
              
               <ul class="footerLink">
                <li><a href="https://www.ei-india.com/team" target="_blank">Team </a></li>
                <li><a href="https://www.ei-india.com/careers" target="_blank">Careers</a></li>
                <li><a href="https://blog.ei-india.com" target="_blank">Blog</a></li>
                <li><a href="https://www.ei-india.com/contact" target="_blank">Contact</a></li>
                <li><a href="https://www.ei-india.com/downloads">Downloads</a></li>
              </ul>
            </div>
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold">Offerings</h6>
              
                <ul class="footerLink">
                 <li><a href="https://www.ei-india.com/team" target="_blank">Team </a></li>
                 <li><a href="https://www.ei-india.com/careers" target="_blank">Careers</a></li>
                 <li><a href="https://blog.ei-india.com" target="_blank">Blog</a></li>
                 <li><a href="https://www.ei-india.com/contact" target="_blank">Contact</a></li>
                 <li><a href="https://www.ei-india.com/downloads">Downloads</a></li>
               </ul>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold">Social links</h6>
              
                <ul class="footerLink">
                 <li><a href="https://www.ei-india.com/team" target="_blank">Team </a></li>
                 <li><a href="https://www.ei-india.com/careers" target="_blank">Careers</a></li>
                 <li><a href="https://blog.ei-india.com" target="_blank">Blog</a></li>
                 <li><a href="https://www.ei-india.com/contact" target="_blank">Contact</a></li>
                 <li><a href="https://www.ei-india.com/downloads">Downloads</a></li>
               </ul>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold">Sales Support</h6>
              
               <ul class="footerLink">
                <li><a href="https://www.ei-india.com/team" target="_blank">Team </a></li>
                <li><a href="https://www.ei-india.com/careers" target="_blank">Careers</a></li>
                <li><a href="https://blog.ei-india.com" target="_blank">Blog</a></li>
                <li><a href="https://www.ei-india.com/contact" target="_blank">Contact</a></li>
                <li><a href="https://www.ei-india.com/downloads">Downloads</a></li>
              </ul>
            </div>
         </div>
      </div>
   </section>
   <div
      class="text-center p-3"
      style="background-color: #f3e7e4">
      © 2022 Copyright:
      <a class="text-dark" href="https://ei-india.com/" >Copyrights © 2022 Educational Initiatives. All Rights Reserved.</a>
   </div>
</footer>