
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img class="headerLogo" src="../assets/ei-logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse fixed-me" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item dialMe">
            <a class="nav-link" href="tel:1800-102-8885 "><i style="color: #b91e1e" class="fa fa-phone"></i> 1800-102-8885</a>
          </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Offerings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Team</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="careers">Careers</a>
          </li>
        <li class="nav-item navButton">
            <a class="nav-link btnContact" href="https://www.ei-india.com/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>